div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}
.ejercicio{
    display:flex;
    flex-flow: column nowrap;
    margin: 0 35%;
    width: 100%;
}
input,button{
    margin: 3px;
    padding: 4px 3px;
    width: 25%;
    border-radius: 15px;
}
button{
    background-color:rgb(235, 236, 167);
    color: black;
    border-color: bisque;
}